.godot/editor/project_metadata.cfg
.godot/editor/project_metadata.cfg
.godot/imported/digital-7 (italic).ttf-10b02e3e2c3d781566f96d03ff743ca6.fontdata
.godot/imported/digital-7 (italic).ttf-10b02e3e2c3d781566f96d03ff743ca6.md5
.godot/imported/digital-7 (mono italic).ttf-67ecc2d7eec0b3de83110f19a817ce12.fontdata
.godot/imported/digital-7 (mono italic).ttf-67ecc2d7eec0b3de83110f19a817ce12.md5
.godot/imported/digital-7 (mono).ttf-1bdbbde2649af55c4f37df89cae0964e.fontdata
.godot/imported/digital-7 (mono).ttf-1bdbbde2649af55c4f37df89cae0964e.md5
.godot/imported/digital-7.ttf-921e3766eeac2c5cd0c3a688476adf3a.fontdata
.godot/imported/digital-7.ttf-921e3766eeac2c5cd0c3a688476adf3a.md5
.godot/editor/project_metadata.cfg
